*, *::after, *::before{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;

}

div#root{
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: .25em;
}

.input-container{
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    width: 55%;
    min-width: 320px;
    gap:.5em;
    justify-items: end;
}

.input-container input{
    width: fit-content;
    justify-self: start;
    padding: .25em .5em;
    border: 1px solid grey;
    border-radius: 5px;
}

input::-webkit-inner-spin-button{
    display: none
}

.tabel-rezultate{
    margin: 1em;
    border-collapse: collapse   ;
}

.tabel-rezultate tr{
    float:left;
    display: block;
}

.tabel-rezultate tr td{
    text-align: center;
    padding: .25em .5em;
    display: block;
}

.table-container{
    overflow-x: scroll;
}