*, *::after, *::before{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

.input-container{
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    width: 55%;
    min-width: 320px;
    gap:.5em;
    justify-items: end;
}

.input-container input{
    width: fit-content;
    justify-self: start;
    padding: .25em .5em;
    border: 1px solid grey;
    border-radius: 5px;
}

input::-webkit-inner-spin-button{
    display: none
}

.tabel-rezultate{
    width: 100%;
}

.tabel-rezultate tr{
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
}

.tabel-rezultate tr td{
    text-align: center;
    
}